  #detailsPlay{
    width: 26.78rem;
    height: 47.64rem;
    background: #26A2FF;
    position: fixed;
    top:0;
    z-index: 9999999;
  }
  
  .details_play{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .content{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 10;
    background: rgba(0,0,0,.5);
  }
  #Title{
    width: 100%;
    height: 5.57rem;
    overflow: hidden;
  }
  .goBack{
    margin-top:1.82rem;
    margin-left:1.02rem;
    float: left;
  }
  .goBack img{
    width: 1.07rem;
    height: 1.78rem; 
  }
  .song_name{
    float: left;
    width: 22.8rem;
    height: 100%;
    text-align: center;
    line-height: 5.57rem;  
    font-size: 1.28rem;
    
    padding-left: 0.3rem;
  }
  .song_name p{
    color: #fff;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
  }
  .songImg{
    width: 13.78rem;
    height: 13.78rem;
    margin:0 auto;
    background: red;
    margin-top:2.3rem;
  }
  .songImg img{
    width: 100%;
    height: 100%;
  }
  #Lyric{
    width: 100%;
    height: 7rem;
    /*background: red;*/
    margin-top:1.8rem;
    overflow:hidden;
    text-align: center;
    position: relative;
  }
  #Lyric p{
    color: #6DC8C1;
  }
  .ControlBar{
    width: 25rem;
    height: 1.14rem;
    padding: 1.14rem 0.91rem;
    margin-top:0.71rem;
    line-height: 1.14rem;
    position:relative;
  }
  .ControlBar span{
    color: #D5D3D3;
  }
  .playAudios{
    width: 100%;
    height: 4.28rem;
    margin-top:1.62rem;
    text-align: center;
  }
  .playAudios img{
    vertical-align: middle;
    margin:0 0.91rem;
  }
  .prevS,.nextS{
    width: 3.1rem;
    height: 3.07rem;
  }
  .toggleS{
    width: 4.14rem;
    height: 4.14rem;
  }
  .mt-range-content{
    /*margin-top:-1.72rem;*/
  }
  .mt-range-thumb{
    width: 1.07rem;
    height: 1.07rem;
    top:0.6rem;
  }
  .maxT{
    position: absolute;
    top:1.05rem;
    right: 1.07rem;
  }
  .mt-range-runway{
    /*top:76%;*/
  }
  .mt-range-progress{
    /*top:76%;*/
  }
  .mt-range{
    width: 18.28rem;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
    top:-1.61rem;
  }
  .lrc-content{
    transition: all .5s ease;
  }
  .colorZ{
    width: 100%;
    height: 1.78rem;
    background: rgba(19,75,119,.4);
    position: absolute;
    top:1.78rem;
  }
  #Lyric .isCurrentLrc{
    color:#fff;
  }
  .singerSD{
    width: 100%;
    height: 1.42rem;
    
    font-size: 1.14rem;
    text-align: center;
  }
  .singerSD span{
    color: #fff;
  }
